@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply px-4 mx-auto w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px];
  }
  .section {
    @apply pt-8 pb-4 px-2 container;
  }
  .button {
    @apply py-3 px-6 rounded-2xl text-gray-500 cursor-pointer text-sm font-bold duration-300 hover:bg-gray-100 shadow-md hover:scale-105 border border-gray-100;
  }
  .no_scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no_scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
